/* Body */
/* Adding color to the text, google font, background image which was given some style */
body {
    color: #ffffff;
    text-align: center;
    font-family: "Playfair Display", serif;
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    padding: 50px 10% 10%;
    background-position: center center;
    background-attachment: fixed;
}

/* With this class was given blury background efect to some of the elements */
.background {
    border-radius: 15px;
    background-color: #010203;
    opacity: 0.8;
}

/* Header */
h1 {
    padding: 10px;
}

/* Main */
/* H2 and H3 elements*/
h2,
h3 {
    padding-top: 30px;
}

/* The Play Button */
#playButton {
    margin-bottom: 50px;
}

/* Style for every button */
button {
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 20px;
}

/* Style for the scores */
.scores {
    display: inline-block;
    padding: 10px;
}

/* Giving a color to the numbers in the score area */
.colorGreen {
    color: #7FFF00;
}

.colorRed {
    color: #FF0800;
}

/* Paragraphs */
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Quiestion box hidden by default */
#questionBox {
    display: none;
}

/* The div for the end game score is hidden by default */
#endGameScore {
    display: none;
}

/* Removing the bulet points in li */
li {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

/* Styling the font size of the 2nd and 3rd child of the list */
li:nth-child(2),
li:nth-child(3) {
    font-size: 20px;
}

/* Styling the 3rd child of the list */
li:nth-child(3) {
    padding-bottom: 15px;
}

/* Removing the padding for the ul */
ul {
    padding-top: 30px;
    padding-left: 0px;
    font-size: 25px;

}

/* Giving a padding to Question Section h3 and the div for the question */
.padding {
    padding-left: 20px;
    padding-right: 20px;
}

/* Changing the siza and padding of the question */
#question {
    font-size: 20px;
    padding-top: 20px;
}

/* Changing the padding to the score aread */
#scoreArea {
    padding-top: 30px;
}

/* Footer */
/* Some of the ideas for the code below for the modal box were taken from W3School */
/* Styling the whole modal when the Restart btn is clicked to popup */
#myModal {
    padding-top: 100px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Styling the content of the modal box */
#modalContent {
    padding: 20px;
    color: #000000;
    background-color: #ffffff;
    margin: 8% auto;
    border: 2px solid #888;
    width: 65%;
    border-radius: 15px;
}

/* Changing the paramethers of some elements in the popup box */
.reduceParamethers {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
}

/* Changing the style of the yes and no btns*/
.reduceBtn {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px 20px;
}

/* Styling the yes and no btns */
#yesClose {
    background-color: #008000;
    color: #ffffff;
}

#noClose {
    background-color: #FF0800;
    color: #ffffff;
}

/* Styling the pop up img */
.popUpImage {
    max-width: 100%;
    width: 120px;
    max-height: 100%;
    border-radius: 50%;
    margin-top: 5%;
}

/* Restart Button */
#restartButton {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* The div for the restart button is hidden by default */
#hidden {
    display: none;
}

@media screen and (min-width: 992px) {

    /* Making the pop up img responsive for bigger screens */
    .popUpImage {
        height: 300px;
        width: 300px;
        order: 1
    }

    /* The whole modal content to be responsive */
    #modalContent {
        display: flex;
        align-items: flex-start;
    }

    /* Responsive text container */
    .textContainer {
        display: flex;
        flex-direction: column;
    }

    /* The code below changed some of the font-size and padding of ids and classes */
    #myModal {
        padding-top: 100px;
    }

    body {
        font-size: 130%;
    }

    #question {
        font-size: 25px;
    }

    button {
        font-size: 25px;
    }

    .reduceParamethers {
        padding-bottom: 20px;
    }

    .reduceBtn {
        font-size: 20px;
    }

    li:nth-child(2),
    li:nth-child(3) {
        font-size: 25px;
    }

    ul {
        font-size: 30px;
    }

    #modalContent {
        width: 40%;
    }
}