/* Body */
/* Adding color to the text, google font, background image which was given some style */
body {
    color: #ffffff;
    font-size: 130%;
    text-align: center;
    font-family: "Playfair Display", serif;
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    padding: 50px 10% 10%;
    background-position: center center;
    background-attachment: fixed;
}

/* With this class was given blury background efect to some of the elements */
.background {
    border-radius: 15px;
    background-color: #010203;
    opacity: 0.8;
}

/* Header */
h1 {
    padding: 10px;
}

/* Main */
/* H2 and H3 elements*/
h2,
h3 {
    padding: 20px;
}

/* The Play Button */
#playButton {
    margin-bottom: 50px;
}

/* Style for every button */
button {
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 15px;
    font-size: 25px;
    padding: 5px 20px;
}

/* Style for the scores */
.scores {
    display: inline-block;
    padding: 10px;
}

/* Giving a color to the numbers in the score area */
.colorGreen {
    color: chartreuse;
}

.colorRed {
    color: #FF0800;
}

/* Paragraphs */
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Quiestion box hidden by default */
#questionBox {
    display: none;
}

/* The div for the end game score is hidden by default */
#endGameScore {
    display: none;
}

/* removing the bulet points in li */
li {
    list-style-type: none;
}

/* Some of the ideas for the code below were taken from W3School */
/* Styling the whole modal when the Restart btn is clicked to popup */
#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Styling the content of the modal box */
#modalContent {
    padding: 20px;
    color: black;
    background-color: white;
    margin: 8% auto;
    border: 2px solid #888;
    width: 45%;
    border-radius: 15px;
}

/* Changing the paramethers of some elements in the popup box */
.reduceParamethers {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Changing the style of the yes and no btns*/
.reduceBtn {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 20px;
}

/* Styling the yes and no btns */
#yesClose {
    background-color: green;
    color: white;
}

#noClose {
    background-color: red;
    color: white;
}

/* Styling the pop up img */
.popUpImage {
    max-width: 100%;
    width: 150px;
    max-height: 100%;
    border-radius: 50%;
    margin-top: 5%;
}

/* Footer */
/* Restart Button */
#restartButton {
    margin-bottom: 30px;
}

/* The div for the restart button is hidden by default */
#hidden {
    display: none;
}

@media screen and (min-width: 992px) {

    /* Making the pop up img responsive for bigger screens */
    .popUpImage {
        width: 300px;
        order: 1
    }

    /* The whole modal content to be responsive */
    #modalContent {
        display: flex;
        align-items: flex-start;
    }

    /* Responsive text container */
    .textContainer {
        display: flex;
        flex-direction: column;
    }
}