/* Body */
/* Adding color to the text, google font, background image which was given some style */
body {
    color: white;
    font-size: 120%;
    text-align: center;
    font-family: "Playfair Display", serif;
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    padding: 50px 10% 10%;
    background-position: center center;
    background-attachment: fixed;
}

/* With this class was given blury background efect to some of the elements */
.background{
    border-radius: 15px;
    background-color: #010203;
    opacity: 0.8;
}

/* Header */
h1 {
    padding: 10px;
}

/* Main */
h2,
h3 {
    padding: 20px;
}

/* The Play Button */
#playButton {
    margin-bottom: 50px;
}